gray_body = #222529
gray_bg_toolbar = #2D3136
gray_border = #A0A7AE
gray_bg_card = #393E44


text_opacity = #FFFFFF70

special_green = #BEFF11
green_text = #73DC50
green_button = #7ED321
green_chart = #81D648

yellow_text = #FACD19

purple_1 = #BD10E0
purple_2 = #9013FE

blue_chart = #4A90E2
blue_text = #4ED8DA
blue_text_2 = #007BFF

tooltip_bg = #485465

landing_text1 = #D8D8D8
landing_text_opaicty = #FFFFFFB8