/*
	MIXINS
------------------------------------------
------------------------------------------*/
green-button()
	background-color: green_button !important
	text-shadow: 1px 1px 2px #000000

flex-column()
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

flex-center()
	display flex
	justify-content center

flex-end()
	display: flex
	align-items: center
	justify-content: flex-end

flex-between-center()
	display flex
	align-items center
	justify-content space-between

flex-stretch()
	display flex
	align-items stretch
	justify-content center

flex-start()
	display flex
	justify-content flex-start
	align-items: center

center-win()
	display flex
	align-items center
	justify-content center

