@font-face {
  font-family: 'winvestify';
  src:  url('../fonts/icons/winvestify.eot?5nfr0f');
  src:  url('../fonts/icons/winvestify.eot?5nfr0f#iefix') format('embedded-opentype'),
    url('../fonts/icons/winvestify.ttf?5nfr0f') format('truetype'),
    url('../fonts/icons/winvestify.woff?5nfr0f') format('woff'),
    url('../fonts/icons/winvestify.svg?5nfr0f#winvestify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-win-"], [class*=" icon-win-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'winvestify' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-win-check-circle:before {
  content: "\e900";
}
.icon-win-stars-2:before {
  content: "\e901";
}
.icon-win-stars-1:before {
  content: "\e919";
}
.icon-win-stars-3:before {
  content: "\e91a";
}
.icon-win-stars:before {
  content: "\e91b";
}
.icon-win-zap:before {
  content: "\e902";
}
.icon-win-x-square:before {
  content: "\e903";
}
.icon-win-users:before {
  content: "\e904";
}
.icon-win-user-check:before {
  content: "\e905";
}
.icon-win-user:before {
  content: "\e906";
}
.icon-win-trash:before {
  content: "\e907";
}
.icon-win-star:before {
  content: "\e908";
}
.icon-win-shield:before {
  content: "\e909";
}
.icon-win-settings:before {
  content: "\e90a";
}
.icon-win-power:before {
  content: "\e90b";
}
.icon-win-pocket:before {
  content: "\e90c";
}
.icon-win-plus-circle:before {
  content: "\e90d";
}
.icon-win-lock:before {
  content: "\e90e";
}
.icon-win-layers:before {
  content: "\e90f";
}
.icon-win-info:before {
  content: "\e910";
}
.icon-win-eye:before {
  content: "\e911";
}
.icon-win-edit:before {
  content: "\e912";
}
.icon-win-credit-card:before {
  content: "\e913";
}
.icon-win-cpu:before {
  content: "\e914";
}
.icon-win-cast:before {
  content: "\e915";
}
.icon-win-bar-chart:before {
  content: "\e916";
}
.icon-win-airplay:before {
  content: "\e917";
}
.icon-win-activity:before {
  content: "\e918";
}